       ORG          0
       MOV.I  <   450, $   616     
       MOV.I  <   800, $   966     
       MOV.I  <  1150, $  1316     
       MOV.I  <  1500, $  1666     
       MOV.I  <  1850, $  2016     
       MOV.I  <  2200, $  2366     
       MOV.I  <  2550, $  2716     
       MOV.I  <  2900, $  3066     
       MOV.I  <  3250, $  3416     
       MOV.I  <  3600, $  3766     
       MOV.I  <  3950, $ -3884     
       MOV.I  < -3700, $ -3534     
       MOV.I  < -3350, $ -3184     
       MOV.I  < -3000, $ -2834     
       MOV.I  < -2650, $ -2484     
       MOV.I  < -2300, $ -2134     
       MOV.I  < -1950, $ -1784     
       MOV.I  < -1600, $ -1434     
       MOV.I  < -1250, $ -1084     
       MOV.I  <  -900, $  -734     
       SPL.B  $     1, $     0     
       SPL.B  $     1, $     0     
       SPL.B  $  1092, {     2     
       MOV.I  }     1, }    -1     
       MOV.I  *     2, }    -2     
       JMZ.F  @    -2, *    -1     
       END
